@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="text-center">
    <h1>Gerenciador de Feedback</h1>
    <span style= "font-size:300px"><i class="bi bi-rss-fill"></i></span>
</div>
